@use '../../abstracts' as *;

.go-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 90px;
}
.go-image {
    background-image: url(../../../images/go.jpg);
    height: 270px;
    width: 480px;
}
.go-info {
    margin-left: 70px;
    text-align: left;
    width: 480px;
}
.go-info h3 {
    font-family: Freight,HoeflerText-Black,Times New Roman,serif;
    font-size: 54px;
    line-height: 1;
    margin-bottom: 15px;
}
.go-info a, .go-info p {
    font-family: BasisGrotesque,Avenir,Helvetica Neue,Helvetica,sans-serif;
}
.go-info p {
    color: #231f20;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 20px;
}